html {
  font-family: sans-serif;
}

pre {
  background-color: hsl(0, 0%, 87%);
  overflow-x: auto;
  padding: 1rem;
}

pre span::before {
  content: '$';
  color: rgb(255, 31, 199);
  padding-right: 1ch;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 93%);
  }

  pre {
    background-color: hsl(0, 0%, 7%);
  }
}
